@mixin column-settings() {
    white-space: normal;
    display: inline-block;
    vertical-align: top;
    font-size: $fontSize;
    
    &:only-child {
        margin-left: 0;            
    }
}

.wrap-row {
    font-size: 0;   
    white-space: nowrap;
    
    @include transition(transform 0.2s ease-out);
}

.wrap-row-v-extension {
    height: 100%;

    div[class^="column"] {
        height: inherit;

        > * {
            height: inherit;
        }
    }
}

.bottom-place {
    padding-bottom: 40px;
    @include box-sizing(border-box);
}